.resizable-panel-pair {
    .divider {
        cursor: ew-resize;
        @apply flex items-center mx-2 bg-slate-300 border-x border-slate-500 grow-0 overflow-hidden;
    }

    .panel-inner {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

.resizable-panel-pair.vertical {
    .divider {
        cursor: ns-resize;
        @apply flex-col border-x-0 border-y;
    }
}
