.answer-response-menu-trigger {
    --button-color: #aaa;
    --button-hover-color: #ccc;
    --button-active-color: #ddd;
    padding: 0;
    height: 2.2em;
    width: 2.2em;
}
.answer-response-menu {
    background-color: var(--mainGray);
    padding: 0.5em 0;
    margin-top: 2px;
    border-radius: var(--mainBorderRadius);
    display: flex;
    flex-direction: column;

    .answer-response-menu-item {
        padding: 0.2em 0.5em;
        cursor: pointer;
        &:hover {
            background-color: var(--mainBlue);
            color: white;
        }
    }
}
