.doenet-viewer button.check-work {
    position: relative;
    height: 24px;
    display: inline-block;
    padding: 1px 6px 1px 6px;
    /* border: var(--mainBorder); */
    border: none;
    border-radius: var(--mainBorderRadius);
    margin: 0px 4px 4px 0px;
}

.doenet-viewer button.check-work:focus {
    outline: var(--mainBorder);
    outline-offset: 2px;
}

.doenet-viewer button.check-work-unvalidated {
    background-color: var(--mainBlue);
    color: white;
    cursor: pointer;

    &:hover {
        background-color: var(--lightBlue);
        color: black;
    }
}

.doenet-viewer button.check-work-unvalidated:focus {
    outline-color: var(--mainBlue);
}

.doenet-viewer button.check-work-unvalidated:disabled {
    background-color: var(--mainGray);
    color: white;
    cursor: not-allowed;
    color: black;

    &:hover {
        background-color: var(--lightBlue);
        color: black;
    }
}

.doenet-viewer button.check-work-correct {
    background-color: var(--mainGreen);
    color: white;
    cursor: default;

    &:hover {
        background-color: var(--lightGreen);
        color: black;
    }
}

.doenet-viewer button.check-work-correct:focus {
    outline-color: var(--mainGreen);
}

.doenet-viewer button.check-work-incorrect {
    background-color: var(--mainRed);
    color: white;
    cursor: default;

    &:hover {
        background-color: var(--lightRed);
        color: black;
    }
}

.doenet-viewer button.check-work-incorrect:focus {
    outline-color: var(--mainRed);
}

.doenet-viewer button.check-work-partialcorrect {
    background-color: var(--mainOrange);
    color: white;
    cursor: default;

    &:hover {
        background-color: var(--lightOrange);
        color: black;
    }
}

.doenet-viewer button.check-work-partialcorrect:focus {
    outline-color: var(--mainOrange);
}

.doenet-viewer button.check-work-response-saved {
    background-color: rgb(74, 3, 217); /* Dark Purple */
    color: white;
    cursor: default;

    &:hover {
        background-color: rgb(161, 129, 224); /* Light Purple */
        color: black;
    }
}
.doenet-viewer button.check-work-response-saved:focus {
    outline-color: rgb(74, 3, 217); /* Dark Purple */
}

/* A utility class to hide content visually but keep it accessible */
.doenet-viewer .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
