# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/media/byPageId/



core/target
core/Cargo.lock

core/core-derive/Cargo.lock
core/core-derive/target

rust-doenet-core-wasm/target
rust-doenet-core-wasm/pkg
rust-doenet-core-wasm/Cargo.lock
