[workspace]
resolver = "2"
members = ["lib-*"]
default-members = ["lib-js-wasm-binding"]

[workspace.package]
version = "0.9.0"
description = "A library for parsing and evaluating DoenetML documents."
authors = ["Duane Nykamp <nykamp@umn.edu>"]
edition = "2024"

[workspace.dependencies]
wasm-bindgen = { version = "^0.2.92", features = ["serde-serialize"] }
wasm-bindgen-test = "0.3.42"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
web-sys = { version = "0.3", features = ["console"] }
js-sys = "0.3"
lazy_static = "1.4.0"
ndarray = { version = "0.15.6", features = ["serde"] }
instant = { version = "0.1", features = ["wasm-bindgen"] }
strum = "0.26"
strum_macros = "0.26"
enum_dispatch = "0.3.12"
# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.6" }
# `wee_alloc` is a tiny allocator for wasm that is only ~1K in code size
# compared to the default allocator's ~10K. It is slower than the default
# allocator, however.
#
# Unfortunately, `wee_alloc` requires nightly Rust when targeting wasm for now.
wee_alloc = { version = "0.4.5" }
quote = "1"
proc-macro2 = "1.0"
syn = "2.0"
convert_case = "0.6.0"
anyhow = "1.0.79"
thiserror = "1.0.56"
tsify-next = { version = "0.5.3" }
derive_more = "0.99.17"
itertools = "0.12.1"
serde-wasm-bindgen = "0.6"
genrc = "0.3.0"
typed-index-collections = "3.1.0"
disjoint_impls = "0.7.0"
rustc-hash = "^1.1"
bitvec = "1.0"

getrandom = { version = "0.2", features = ["js"] }