.editor-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.editor-panel .editor-and-collapsible-panel {
    flex-grow: 1;
    overflow: hidden;
}

.editor-panel .formatter-and-version {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.1rem 1rem;
    gap: 0.5rem;
    background-color: var(--chakra-colors-doenet-main-gray);
}

.viewer-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.viewer-panel .viewer-controls {
    display: flex;
    align-items: center;
    padding: 0.1rem 0.5rem;
    background-color: var(--chakra-colors-doenet-main-gray);
    border-bottom: 1px solid var(--chakra-colors-doenet-medium-gray);
}
.viewer-panel .viewer {
    flex-grow: 1;
    overflow: auto;
    background-color: var(--canvas);
}
