.editor-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.editor-panel .editor-and-collapsible-panel {
    flex-grow: 1;
    overflow: hidden;
}

.editor-panel .formatter-and-version {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.1rem 1rem;
    gap: 0.5rem;
    background-color: var(--mainGray);
}

.editor-panel .doenetml-version {
    font-size: 0.8rem;
    padding: 0.2rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.editor-panel .error-warning-response-tabs {
    display: flex;
    flex-direction: row;
    background-color: var(--mainGray);

    button.close-button {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 0;
        cursor: pointer;
        font-size: 0.9rem;
        min-width: 2em;
        height: 2em;
        text-align: center;
        transition: border-color 0.2s ease-in-out;
        border-radius: 0.2rem;
        margin: 0.2rem;
        border: 1px solid transparent;

        &:hover {
            border-color: black;
        }
        &:focus {
            outline: 2px solid var(--mainBlue);
        }
        &:active {
            background-color: var(--mainBlue);
            color: white;
        }
    }

    button {
        all: unset;
        cursor: pointer;
        padding: 0.2rem 0.5rem;
        font-size: 0.9rem;

        &:focus-visible {
            outline: 2px solid var(--mainBlue);
            outline-offset: -4px;
        }
    }
    button[aria-selected="true"] {
        background-color: var(--lightBlue);
        border-bottom: 2px solid var(--mainBlue);
    }
}

.editor-panel .error-warning-response-tabs-panels {
    flex-grow: 1;
    flex-basis: 0;
    overflow: auto;
}

.editor-panel .error-warning-response-tabs-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0rem 0.4rem;
}

.viewer-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.viewer-panel .viewer-controls {
    display: flex;
    align-items: center;
    padding: 0.1rem 0.5rem;
    background-color: var(--mainGray);
    border-bottom: 1px solid #949494;
}
.viewer-panel .viewer {
    flex-grow: 1;
    overflow: auto;
    background-color: var(--canvas);
}

.editor-panel .formatter-and-version {
    .label {
        min-width: fit-content;
    }
    /* From https://ariakit.org/components/select */
    .button {
        --border: rgb(0 0 0/13%);
        --highlight: rgb(255 255 255/20%);
        --shadow: rgb(0 0 0/10%);
        display: flex;
        height: 2rem;
        user-select: none;
        align-items: center;
        gap: 0.25rem;
        white-space: nowrap;
        border-radius: 0.5rem;
        border-style: none;
        background-color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
        color: black;
        text-decoration-line: none;
        outline-width: 2px;
        outline-offset: 2px;
        outline-color: hsl(204 100% 40%);
        box-shadow:
            inset 0 0 0 1px var(--border),
            inset 0 2px 0 var(--highlight),
            inset 0 -1px 0 var(--shadow),
            0 1px 1px var(--shadow);
        justify-content: space-between;
        width: 8em;
    }

    .button:where(.dark, .dark *) {
        --border: rgb(255 255 255/10%);
        --highlight: rgb(255 255 255/5%);
        --shadow: rgb(0 0 0/25%);
        background-color: rgb(255 255 255 / 0.05);
        color: white;
        box-shadow:
            inset 0 0 0 1px var(--border),
            inset 0 -1px 0 1px var(--shadow),
            inset 0 1px 0 var(--highlight);
    }

    .button:not(:active):hover {
        --border: rgb(0 0 0/33%);
    }

    .button:where(.dark, .dark *):not(:active):hover {
        --border: rgb(255 255 255/25%);
    }

    .button[aria-disabled="true"] {
        opacity: 0.5;
    }

    .button[data-focus-visible] {
        outline-style: solid;
    }

    .button:active,
    .button[data-active] {
        padding-top: 0.125rem;
        box-shadow:
            inset 0 0 0 1px var(--border),
            inset 0 2px 0 var(--border);
    }

    @media (min-width: 640px) {
        .button {
            gap: 0.5rem;
        }
    }

    .button:active:where(.dark, .dark *),
    .button[data-active]:where(.dark, .dark *) {
        box-shadow:
            inset 0 0 0 1px var(--border),
            inset 0 1px 1px 1px var(--shadow);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .label {
        padding-left: 1rem;
    }

    .popover {
        z-index: 50;
        display: flex;
        max-height: min(var(--popover-available-height, 300px), 300px);
        flex-direction: column;
        overflow: auto;
        overscroll-behavior: contain;
        border-radius: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: hsl(204 20% 88%);
        background-color: white;
        padding: 0.5rem;
        color: black;
        box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    .popover:focus-visible,
    .popover[data-focus-visible] {
        outline: 2px solid hsl(204 100% 40%);
        outline-offset: -1px;
    }

    .popover:where(.dark, .dark *) {
        border-color: hsl(204 4% 24%);
        background-color: hsl(204 4% 16%);
        color: white;
        box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 0.25),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    .select-item {
        display: flex;
        cursor: default;
        scroll-margin: 0.5rem;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.25rem;
        padding: 0.5rem;
        outline: none !important;
    }

    .select-item[aria-disabled="true"] {
        opacity: 0.5;
    }

    .select-item[data-active-item] {
        background-color: hsl(204 100% 40%);
        color: white;
    }
}

.update-syntax-menu {
    z-index: 100;
}
