.variant-select {
    display: flex;
    margin-left: 0.5rem;

    * {
        box-sizing: border-box;
    }
    .button {
        --size: 2.5rem;
        --outline-offset: 2px;
        --outline: hsl(204 100% 40%);
    }

    .button[data-focus-visible] {
        outline-style: solid;
    }

    .select-button {
        width: 12em;
        justify-content: space-between;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 0;
    }
    .prev-next-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;
    }
    /* Make all .prev-next-button buttons except for the last one have zero border radius */
    .prev-next-button:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .popover {
        z-index: 50;
        display: flex;
        max-height: min(var(--popover-available-height, 300px), 300px);
        flex-direction: column;
        overflow: auto;
        overscroll-behavior: contain;
        border-radius: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: hsl(204 20% 88%);
        background-color: white;
        padding: 0.5rem;
        color: black;
        box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
        padding-top: 0px;
    }

    .popover:where([data-theme="dark"], [data-theme="dark"] *) {
        border-color: hsl(204 4% 24%);
        background-color: hsl(204 4% 16%);
        color: white;
        box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 0.25),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
        scrollbar-color: #555 hsl(204 4% 16%);
    }

    .popover:where(
            [data-theme="dark"],
            [data-theme="dark"] *
        )::-webkit-scrollbar {
        width: 8px;
    }

    .popover:where(
            [data-theme="dark"],
            [data-theme="dark"] *
        )::-webkit-scrollbar-track {
        background: hsl(204 4% 16%);
    }

    .popover:where(
            [data-theme="dark"],
            [data-theme="dark"] *
        )::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 4px;
        border: 2px solid hsl(204 4% 16%);
    }

    .popover:where(
            [data-theme="dark"],
            [data-theme="dark"] *
        )::-webkit-scrollbar-thumb:hover {
        background-color: #777;
    }

    .select-item {
        display: flex;
        cursor: default;
        scroll-margin: 0.5rem;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.25rem;
        padding: 0.5rem;
        outline: none !important;
        width: 100%;
        scroll-margin-top: 3.5rem;
    }

    .select-item[aria-disabled="true"] {
        opacity: 0.5;
    }

    .select-item[data-active-item] {
        background-color: hsl(204 100% 40%);
        color: white;
    }

    .combobox-wrapper {
        position: sticky;
        top: 0px;
        margin-bottom: 0.5rem;
        width: 100%;
        background-color: inherit;
        padding-top: 0.5rem;
        display: flex;
    }

    .combobox {
        height: 2.5rem;
        width: 100%;
        border-radius: 0.25rem;
        border-style: none;
        background-color: hsl(204 20% 94%);
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
        color: black;
    }

    .combobox:hover {
        background-color: hsl(204 20% 91%);
    }

    .popover:focus-visible,
    .popover[data-focus-visible],
    .combobox:focus-visible,
    .combobox[data-focus-visible] {
        outline: 2px solid hsl(204 100% 40%);
        outline-offset: -1px;
    }

    .combobox:where([data-theme="dark"], [data-theme="dark"] *) {
        background-color: hsl(204 4% 10%);
        color: white;
    }

    .combobox:hover:where([data-theme="dark"], [data-theme="dark"] *) {
        background-color: hsl(204 4% 8%);
    }
}
