html,
#root,
body,
main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.doenet-preview {
    border: 2px solid #ccc;
    margin: 0.5em;
    flex-grow: 1;
    overflow: auto;
}

.doenet-preview #top {
    padding: 0.5em !important;
}

.header {
    display: flex;
    padding: 1ex;
}

.header h1 {
    padding: 0;
    margin-right: 1em;
    font-size: 1.1em;
    font-weight: bold;
}
