.doenet-document {
    .division.collapsible {
        > .summary .heading::before {
            content: "";
            @apply inline-block me-2;
            width: 0.45em;
            height: 0.45em;
            border-right: 2px solid currentColor;
            border-bottom: 2px solid currentColor;
            transform: rotate(-45deg);
            transform-origin: 65% 60%;
            transition: transform 0.2s ease;
            vertical-align: middle;
            margin-bottom: 0.3em;
            margin-left: -0.3em;
        }
        &[open] > summary .heading::before {
            transform: rotate(45deg);
        }

        > .summary .heading::after {
            font-weight: normal;
            @apply text-gray-700 float-right;
            content: "(click to open)";
        }
        &[open] > .summary .heading::after {
            content: "(click to close)";
        }
    }
}
