.doenet-document {
    .text-input {
        label {
            @apply max-w-full gap-1 inline-flex items-baseline;
            &.input-label-right {
                flex-direction: row-reverse;
            }
        }
        input,
        textarea {
            @apply border-black border-2 px-1 py-0.5 w-32;
        }
        textarea {
            width: unset;
            resize: both;
        }
    }
}
