/* Some CSS to ensure compatibility when embedded in a pretext <slate /> */

html body:has(.doenetml-applet) {
    margin: 0;
    padding: 0;
}
html body > div:has(.doenetml-applet) {
    all: unset !important;
}
