.doenet-viewer span.hint-title {
    display: block;
    padding: 6px;
    border: 2px solid var(--canvasText);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--mainGray);
    cursor: pointer;
    &:focus {
        outline: 2px solid var(--canvasText);
        outline-offset: 2px;
    }
}
