.mathInputWrapper {
    /* Style the EditableMathField Wrapper */
    cursor: pointer;
    margin: 0px 4px 4px 4px;
    display: inline;
}

td.matrixCell div.mathInputWrapper {
    margin: 1px;
}

/* Add this to your mathInput.css */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
