.doenet-viewer .mathInputWrapper {
    /* Style the EditableMathField Wrapper */
    cursor: pointer;
    margin: 0px 4px 4px 4px;
    display: inline;
}

.doenet-viewer td.matrixCell div.mathInputWrapper {
    margin: 1px;
}
