.doenet-viewer .text-input {
    font-size: 14px;
    border: var(--mainBorder);
    cursor: auto;

    &:focus {
        outline: var(--mainBorder);
        outline-offset: 2px;
    }
}

.doenet-viewer .text-input-disabled {
    border: 2px solid var(--mainGray);
    cursor: not-allowed;
}

.doenet-viewer .text-input-correct {
    border-color: var(--mainGreen);

    &:focus {
        outline-color: var(--mainGreen);
    }
}
.doenet-viewer .text-input-incorrect {
    border-color: var(--mainRed);
    &:focus {
        outline-color: var(--mainRed);
    }
}

.doenet-viewer .text-input-partialcorrect {
    border-color: var(--mainOrange);
    &:focus {
        outline-color: var(--mainOrange);
    }
}
