.doenetml-example-container {
    border: 2px dashed black;
    border-radius: 10px;
}

.attr-table,
.prop-table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
}
:is(html[class~="dark"] .nextra-content) .attr-table,
:is(html[class~="dark"] .nextra-content) .prop-table {
    background-color: rgb(31, 41, 55);
    border: 1px solid rgb(31, 41, 55);
}
.attr-table td,
.attr-table th,
.prop-table td,
.prop-table th {
    border-bottom: 1px solid rgb(229, 231, 235);
}
.attr-table tr:last-child td,
.prop-table tr:last-child td {
    border-bottom: none;
}

.attr-table td,
.prop-table td {
    padding: 0.25em 1em;
}
.attr-table caption,
.prop-table caption {
    margin: 1em 0;
}
.attr-name,
.prop-name {
    color: rgb(29, 85, 197);
}
:is(html[class~="dark"] .nextra-content) .attr-name,
:is(html[class~="dark"] .nextra-content) .prop-name {
    color: rgb(0, 122, 255);
}
.attr-value {
    color: rgb(194, 31, 138);
    margin-right: 1ex;
}
.attr-value:last-child {
    margin-right: 0;
}
.attr-type,
.prop-type {
    font-style: italic;
}

.attr-table caption p,
.prop-table caption p {
    margin: unset;
    padding: unset;
    display: inline;
}
