* {
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    & > div {
        overflow: hidden;
    }
}
.banner {
    padding: 3px;
    background-color: #f0f0f0;
}
